// @font-face {
//   font-family: 'Museo Sans Cyrl';
//   src: url('../fonts/MuseoSansCyrl-Thin.eot');
//   src: local('Museo Sans Cyrl Thin'), local('Museo Sans Cyrl Thin'),
//   url('../fonts/MuseoSansCyrl-Thin.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/MuseoSansCyrl-Thin.woff') format('woff'),
//   url('../fonts/MuseoSansCyrl-Thin.ttf') format('truetype');
//   font-weight: thin;
//   font-style: normal;
// }



// @font-face {
//   font-family: 'Museo Sans Cyrl';
//   src: url('../fonts/MuseoSansCyrl-Light.eot');
//   src: local('Museo Sans Cyrl Light'), local('Museo Sans Cyrl Light'),
//   url('../fonts/MuseoSansCyrl-Light.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/MuseoSansCyrl-Light.woff') format('woff'),
//   url('../fonts/MuseoSansCyrl-Light.ttf') format('truetype');
//   font-weight: light;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Museo Sans Cyrl';
//   src: url('../fonts/MuseoSansCyrl-Medium.eot');
//   src: local('Museo Sans Cyrl Medium'), local('Museo Sans Cyrl Medium'),
//   url('../fonts/MuseoSansCyrl-Medium.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/MuseoSansCyrl-Medium.woff') format('woff'),
//   url('../fonts/MuseoSansCyrl-Medium.ttf') format('truetype');
//   font-weight: medium;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Museo Sans Cyrl';
//   src: url('../fonts/MuseoSansCyrl-Bold.eot');
//   src: local('Museo Sans Cyrl Bold'), local('Museo Sans Cyrl Bold'),
//   url('../fonts/MuseoSansCyrl-Bold.eot?#iefix') format('embedded-opentype'),
//   url('../fonts/MuseoSansCyrl-Bold.woff') format('woff'),
//   url('../fonts/MuseoSansCyrl-Bold.ttf') format('truetype');
//   font-weight: bold;
//   font-style: normal;
// }


@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'),
}

@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'),
}

@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'),
}

@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'),
}

@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'),
}

*{
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  min-width: 320px;
  font-family: 'Open Sans', 'sans-serif';
  background: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.list-reset {
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.flex {
  display: flex;
}

body {
z-index: 10;
}

menu, ol, ul {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-offset {
  padding: 64px 0;
}


