// @font-face {
//   font-family: 'MuseoSansCyrl';
//   src: url('../fonts/MuseoSansCyrl.ttf') format('truetype'), 
//   url('../fonts/MuseoSansCyrl.otf') format('opentype')
// }

@font-face {
  font-family: 'MuseoSansCyrl100';
  src: url('../fonts/MuseoSansCyrl-100.ttf') format('truetype'), 
}

@font-face {
  font-family: 'MuseoSansCyrl300';
  src: url('../fonts/MuseoSansCyrl-300.ttf') format('truetype'), 
}

@font-face {
  font-family: 'MuseoSansCyrl500';
  src: url('../fonts/MuseoSansCyrl-500.ttf') format('truetype'), 
}

@font-face {
  font-family: 'MuseoSansCyrl700';
  src: url('../fonts/MuseoSansCyrl-700.ttf') format('truetype'), 
}

@font-face {
  font-family: 'MuseoSansCyrl900';
  src: url('../fonts/MuseoSansCyrl-900.ttf') format('truetype'), 
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'MuseoSansCyrl300';
  font-style: normal;
  color: black;
  text-decoration: none;
  list-style: none;

}

header {
  font-size: 16px ;
  font-weight: 300;
  line-height: 24px;
}

body {
  background-color: #F6F5F9;
  padding-top: 72px; /* Высота header, чтобы не перекрывала содержимое страницы */
}


// a {
//   text-decoration: none;
//   color: $main_text_color;
// }

// menu, ol, ul {
//   padding: 0;
// }

// .container {
//   width: 100%;
//   max-width: 1210px;
//   margin: 0 auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .title {
//    margin-bottom: 60px;
//    font-family: 'Montserrat-Bold', sans-serif;
//    font-size: 48px;
//    line-height: 59px;
//  }

// .title.title-main {
//   margin-top: 105px; 
//   margin-bottom: 50px; 
//   font-size: 72px;
//   line-height: 88px;
// }

// .title.title-main.title-trainers-all {
//   margin-top: 85px;
// }

// .title-paragraph {
//   margin-bottom: 10px;
//   font-family: 'OpenSans-Bold', sans-serif;
//   font-size: 20px;
//   line-height: 27px;
// }

// .visibility-hidden {
//   position: absolute;
//   clip: rect(0 0 0 0);
//   width: 1px;
//   height: 1px;
//   margin: -1px;
// }

// @media (max-width: 1439px) {
//   .container {
//     max-width: 970px;
//   }

//   .title {
//     margin-bottom: 48px;
//     font-size: 36px;
//     line-height: 44px;
//   }

//   .title.title-main {
//     margin-top: 0; 
//     margin-bottom: 40px; 
//     font-size: 48px;
//     line-height: 60px;
//   }

//   .title-paragraph {
//     font-size: 18px;
//     line-height: 25px;
//   }
// }

// @media (max-width: 1023px) {
//   .container {
//     max-width: 650px;
//   }

//   .title {
//      margin-bottom: 40px;
//      font-size: 36px;
//      line-height: 44px;
//    }

//   .title.title-main {
//     margin-top: 64px; 
//     font-size: 36px;
//     line-height: 44px;
//   }

//   .title.title-main.title-trainers-all {
//     margin-top: 80px; 
//   }
// }

// @media (max-width: 767px) {
//   .title {
//     margin-top: 0;
//     font-size: 22px;
//     line-height: 27px;
//   }

//   .title.title-main {
//     margin-bottom: 30px;
//     font-size: 22px;
//     line-height: 27px;
//   }

//   .title.title-main.title-trainers-all {
//     margin-top: 75px; 
//     margin-bottom: 30px; 
//   }

//   .title-paragraph {
//     width: 266px;
//   }
// }

// @media (max-width: 576px) {
//   .container {
//     padding-left: 10px;
//     padding-right: 10px;
//   }
// }







