<section class="about-us-section section-offset">
  <div class="container">
    <div class="about-us-top flex">
      <h2 class="about-us__header">
        О компании
      </h2>
      <a class="link-more-page" href="#">Подробнее</a>
    </div>
    <div class="about-us-middle">
      <p class="about-us__descr">
        MAY Group – это объединение туроператорских и турагентских компаний в Москве, Владимире, Санкт-Петербурге, а также Транспортной компании, имеющей автобусы первого и туристского класса.
      </p>
      <p class="about-us__descr">
        Мы - единственная на российском туристском рынке компания, которая предлагает большой ассортимент многодневных сборных экскурсионных туров. Именно они очень востребованы и интересны туристам. Компания является туроператором – лидером по Золотому Кольцу России, занимается приемом туристских групп в Москве, Санкт-Петербурге, Калининграде, Казани, Н.Новгороде и многих других городах России и СНГ.
      </p>
    </div>
    <div class="about-us-bottom flex">
      <div class="about-us__card">
        <div class="about-us__bg-img about-us-first">
        </div>
        <div class="about-us__card-descr">
          Работаем 30 лет
        </div>
      </div>
      <div class="about-us__card">
        <div class="about-us__bg-img about-us-second">
        </div>
        <div class="about-us__card-descr">
          Лучшие гиды и экскурсоводы
        </div>
      </div>
      <div class="about-us__card">
        <div class="about-us__bg-img about-us-third">
        </div>
        <div class="about-us__card-descr">
          Комфортные и современные автобусы
        </div>
      </div>
      <div class="about-us__card">
        <div class="about-us__bg-img about-us-fourth">
        </div>
        <div class="about-us__card-descr">
          Отличное размещение и питание
        </div>
      </div>
    </div>

  </div>
</section>
