<section class="awards section-offset">
  <div class="container">
    <h2 class="awards__header">
      Наши награды
    </h2>
    <div class="awards-links flex">
      <div class="awards-card flex">
        <div class="award-title-bg first-award"></div>
        <div class="">
          <p class="award-card__descr">
            Золотая корона международной премии «Лидеры туриндустрии».
          </p>
        </div>
        <div class="award-card__date">
          <p>
            2007 год
          </p>
        </div>
      </div>
      <div class="awards-card flex">
        <div class="award-title-bg second-award">

        </div>
        <div class="award-card__descr">
          <p class="award-card__descr">
            Серебряная корона международной премии «Лидеры туриндустрии».
          </p>
        </div>
        <div class="award-card__date">
          <p>
            2005 год
          </p>
        </div>
      </div>
      <div class="awards-card flex">
        <div class="award-title-bg third-award"></div>
        <div class="award-card__descr">
          <p class="award-card__descr">
            Звание “Лучшая туристская фирма Владимирской области”
          </p>
        </div>
        <div class="award-card__date">
          <p>
            2005, 2007, 2008 и 2009 года
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
