<section class="banner">

  <div class="container banner-container">
    <div class="middle">
      <h2 class="banner__header">30 лет вемсте с вами</h2>
      <p class="banner__paragraph">Организовываем автобусные туры</p>
      <div class="buttons__banner">
        <button class="btn-reset  btn-banner"><svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13 5.99992H1M1 5.99992L5.66667 10.6666M1 5.99992L5.66667 1.33325" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </button>
        <button class="btn-reset  btn-banner"><svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 6.00008H13M13 6.00008L8.33333 1.33341M13 6.00008L8.33333 10.6667" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          </button>
      </div>
    </div>
    <div class="bottom">
      <form class="flex form-banner" action="#">
        <div class="select__body">
          <div class="select">
            <div class="select__header banner-left-select">
              <span class="select__current">
                Город
              </span>
              <div class="select__icon">
                <svg class="static" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 1L8 8L1 1" stroke="#FF7600" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
            </div>
            <div class="select__item">Value 1</div>
            <div class="select__item">Value 2</div>
            <div class="select__item">Value 3</div>
            <div class="select__item">Value 4</div>
            <div class="select__item">Value 5</div>
          </div>
        </div>
        <div class="select__body">
          <div class="select">
            <div class="select__header">
              <span class="select__current">
                Вид тура
              </span>
              <div class="select__icon">
                <svg class="static" width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 1L8 8L1 1" stroke="#FF7600" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
            </div>
            <div class="select__item">Value 1</div>
            <div class="select__item">Value 2</div>
            <div class="select__item">Value 3</div>
            <div class="select__item">Value 4</div>
            <div class="select__item">Value 5</div>
          </div>
        </div>
        <!-- <input class="date-input" type="date" value="Дата заезда"> -->
        <input class="date-input" type="text" placeholder="Дата заезда" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" >
        <button class="btn-reset search-btn">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 21L17 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
      </form>
    </div>


  </div>


</section>