<section class="best-advices section-offset">

  <div class="container best-advices__container">
    <h2 class="section__header">
      Лучшие предложения
    </h2>
    <div class="advices-cards">
      <a href="#" id="best-advices__block-first" class="best-advices__block first-advice">
        <div class="best-advices__price">
          <span class="best-advices__currency">
            ₽
            <span class="best-advices__value">
              20 990
            </span>
          </span>
        </div>
        <img class="advice-img" src="../../img/best-advices-1.jpg" alt="Жемчужина северной Руси">
        <div class="best-advices__block-descr">
          <h3 class="block-header">
            Жемчужина северной Руси
          </h3>
          <p class="block-descr">
            Тверь – Торжок – Вышний Волочек – Валдай – Великий Новгород – Псков – Изборск – Печоры – Пушкинские горы
          </p>
        </div>
      </a>
        <a href="#" id="best-advices__block-second" class="best-advices__block second-advice">
          <div class="best-advices__price">
            <span class="best-advices__currency">
              ₽
              <span class="best-advices__value">
                25 990
              </span>
            </span>
          </div>
          <img class="advice-img" src="../../img/best-advices-2.jpg" alt="Жемчужина северной Руси">
          <div class="best-advices__block-descr">
            <h3 class="block-header">
              Звезда Руси с теплоходной
            </h3>
            <p class="block-descr">
              Коломна – Рязань – Гусь-Железный – Касимов – Муром – Нижний Новгород – Гороховец – Владимир – Боголюбово – Суздаль – Плес – Кострома – Ярославль – Ростов Великий – Переславль Залесский – Сергиев Посад
            </p>
          </div>

        </a>
          <a href="#" id="best-advices__block-third" class="best-advices__block third-advice">
            <div class="best-advices__price">
              <span class="best-advices__currency">
                ₽
                <span class="best-advices__value">
                  21 990
                </span>
              </span>
            </div>
            <img class="advice-img" src="../../img/best-advices-3.jpg" alt="Жемчужина северной Руси">
            <div class="best-advices__block-descr">
              <h3 class="block-header">
                Древняя Русь
              </h3>
              <p class="block-descr">
                Коломна – Рязань – Гусь-Железный – Касимов – Муром – Нижний Новгород – Гороховец – Владимир – Боголюбово – Суздаль
              </p>
            </div>

          </a>
            <a href="#" id="best-advices__block-fourth" class="best-advices__block fourth-advice">
              <img class="advice-img" src="../../img/best-advices-4.jpg" alt="Жемчужина северной Руси">
              <div class="best-advices__block-descr">
                <h3 class="block-header">
                  Владимир – Суздаль
                </h3>
                <p class="block-descr">
                  Владимир – Суздаль. 2дня/1ночь
                </p>
                </div>
              </a>
    </div>

    <button class="btn-reset button advices-button">
      Смотреть всё
    </button>

  </div>
</section>
