<section class="feedback section-offset">
  <div class="container feedback-container">
    <div class="feedback-top">
      <h2 class="feedback__header">
        Отзывы
      </h2>
      <a class="new-feedback" href="#">Добавить отзыв</a>
    </div>
    <div class="feedback-bottom">
      <div class="feedback-card">
        <div class="feedback-card-top">
          <div class="account-info-img">
            <img class="account-img" src="../../img/feedback-first.jpg" alt="Картинка профиля">
          </div>
          <div class="account-info">
            <p class="account-name">
              Евгений, г. Москва
            </p>
            <p class="feedback-date flex">
              23 июля 2024
            </p>
          </div>
        </div>
        <div class="feedback-card-middle">
          <p class="feedback-card__descr">
            Мои переживания по поводу русского сервиса не оправдались. Все было организовано замечательно (за некоторых
            незначительных накладок, не по вине оператора). Гостиницы, питание, экскурсии и гиды - все было на высоком
            уровне. Сколько нового и интересного мы узнали про нашу Русь-матушку, а старинные крепости, храмы вызывали
            восхищение и гордость. Спасибо отдельное нашему сопровождающему Алексею Калинину, за его эрудицию, знания,
            за подготовленность к туру. Нам было интересно и весело с ним ехать в автобусе. Спасибо фирме Май-тур за
            интересный тур. Всем рекомендую.
          </p>
          <a class="feedback__more" href="#">
            Читать далее
          </a>
        </div>

      </div>
      <div class="feedback-card">
        <div class="feedback-card-top">
          <div class="account-info-img">
            <img class="account-img" src="../../img/feedback-second.jpg" alt="Картинка профиля">
          </div>
          <div class="account-info">
            <p class="account-name">
              Наталья, г. Екатеринбург
            </p>
            <p class="feedback-date flex">
              20 июля 2024
            </p>
          </div>
        </div>
        <div class="feedback-card-middle">
          <p class="feedback-card__descr">
            Хочется написать отзыв о замечательном туре "Жемчужины северной Руси". Первый раз поехала в такой тур по
            России (c04/07.22 по 10/07.22). Мои переживания по поводу русского сервиса не оправдались. Все было
            организовано замечательно (за некоторых незначительных накладок, не по вине оператора). Гостиницы, питание,
            экскурсии и гиды - все было на высоком уровне. Сколько нового и интересного мы узнали про нашу Русь-матушку,
            а старинные крепости, храмы вызывали восхищение и гордость. Спасибо отдельное нашему сопровождающему Алексею
            Калинину, за его эрудицию, знания, за подготовленность к туру. Нам было интересно и весело с ним ехать в
            автобусе. Спасибо фирме Май-тур за интересный тур. Всем рекомендую.
          </p>
          <a class="feedback__more" href="#">
            Читать далее
          </a>
        </div>

      </div>
      <div class="feedback-card">
        <div class="feedback-card-top">
          <div class="account-info-img">
            <img class="account-img" src="../../img/feedback-third.jpg" alt="Картинка профиля">
          </div>
          <div class="account-info">
            <p class="account-name">
              Марат, г. Казань
            </p>
            <p class="feedback-date flex">
              8 мая 2024
            </p>
          </div>
        </div>
        <div class="feedback-card-middle">
          <p class="feedback-card__descr">
            Побывали в турпоездке с 30.04 - 7.05 по Золотому кольцу, организатор - Май-тур.
            У нас с супругом только положительные впечатления! Замечательные экскурсоводы, плотный график путешествий по
            интересным местам, сказочные условия проживания! Рекомендуем однозначно ВСЕМ воспользоваться услугами
            туркомпании!!!
          </p>
          <a class="feedback__more" href="#">
            Читать далее
          </a>
        </div>
      </div>
    </div>
    <div class="feedback-watch-all">
      <button class="btn-reset btn-watch-all">
        Смотреть всё
      </button>
    </div>
  </div>
</section>
