<section class="news section-offset">
  <div class="container news-container">
    <div class="header-block">
      <h2 class="news__header">
        Новости
      </h2>
    </div>
    <div class="news-links">
      <a href="#" class="news-card flex">
        <div class="news-img">
          <img class="news-img-descr" src="../../img/news-booking.jpg" alt="Ранее бронирование">
        </div>
        <div class="card-descr">
          <p class="news-descr">
            Стартовала акция "Раннее бронирование 2024" для сборных туров. По условиям акции стоимость тура
          </p>
          <p class="news-date">
            <svg class="date-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 8C3 5.79086 4.79086 4 7 4H17C19.2091 4 21 5.79086 21 8V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V8Z" stroke="#8E8888" stroke-width="2"/>
              <path d="M8 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 10H7" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 17L16 17" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M16 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              </svg>
              02 ноября 2023
          </p>
        </div>
        <div class="news-read-more">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="8" fill="#F6F5F9"/>
            <g clip-path="url(#clip0_209_10159)">
            <path d="M13.9379 26.0323L26.0597 13.9105M26.0597 13.9105L26.0597 23.3385M26.0597 13.9105L16.6317 13.9105" stroke="#FF7600" stroke-width="1.90476" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_209_10159">
            <rect width="22.8571" height="22.8571" fill="white" transform="translate(8.57129 8.57141)"/>
            </clipPath>
            </defs>
            </svg>

        </div>
      </a>
      <a href="#" class="news-card flex">
        <div class="news-img">
          <img class="news-img-descr" src="../../img/news-sertificate.jpg" alt="Ранее бронирование">
        </div>
        <div class="card-descr">
          <p class="news-descr">
            Наша система online-бронирования перешла
на использование отечественных сертификатов безопасности
          </p>
          <p class="news-date">
            <svg class="date-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 8C3 5.79086 4.79086 4 7 4H17C19.2091 4 21 5.79086 21 8V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V8Z" stroke="#8E8888" stroke-width="2"/>
              <path d="M8 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 10H7" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 17L16 17" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M16 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              </svg>
              04 мая 2023
          </p>
        </div>
        <div class="news-read-more">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="8" fill="#F6F5F9"/>
            <g clip-path="url(#clip0_209_10159)">
            <path d="M13.9379 26.0323L26.0597 13.9105M26.0597 13.9105L26.0597 23.3385M26.0597 13.9105L16.6317 13.9105" stroke="#FF7600" stroke-width="1.90476" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_209_10159">
            <rect width="22.8571" height="22.8571" fill="white" transform="translate(8.57129 8.57141)"/>
            </clipPath>
            </defs>
            </svg>

        </div>
      </a>
      <a href="#" class="news-card flex">
        <div class="news-img">
          <img class="news-img-descr" src="../../img/news-booking.jpg" alt="Ранее бронирование">
        </div>
        <div class="card-descr">
          <p class="news-descr">
            В нашем автопарке пополнение. Теперь мы можем предложить туры для индивидуальных
и VIP групп
          </p>
          <p class="news-date">
            <svg class="date-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 8C3 5.79086 4.79086 4 7 4H17C19.2091 4 21 5.79086 21 8V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V8Z" stroke="#8E8888" stroke-width="2"/>
              <path d="M8 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 10H7" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 17L16 17" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M16 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              </svg>
              23 июля 2024
          </p>
        </div>
        <div class="news-read-more">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="8" fill="#F6F5F9"/>
            <g clip-path="url(#clip0_209_10159)">
            <path d="M13.9379 26.0323L26.0597 13.9105M26.0597 13.9105L26.0597 23.3385M26.0597 13.9105L16.6317 13.9105" stroke="#FF7600" stroke-width="1.90476" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_209_10159">
            <rect width="22.8571" height="22.8571" fill="white" transform="translate(8.57129 8.57141)"/>
            </clipPath>
            </defs>
            </svg>

        </div>
      </a>
      <a href="#" class="news-card flex">
        <div class="news-img">
          <img class="news-img-descr" src="../../img/news-booking.jpg" alt="Ранее бронирование">
        </div>
        <div class="card-descr">
          <p class="news-descr">
            Напоминаем Вам, что срок оплаты заявок, забронированных по акции "Раннее бронирование" истек
          </p>
          <p class="news-date">
            <svg class="date-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 8C3 5.79086 4.79086 4 7 4H17C19.2091 4 21 5.79086 21 8V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V8Z" stroke="#8E8888" stroke-width="2"/>
              <path d="M8 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 10H7" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M17 17L16 17" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              <path d="M16 3V6" stroke="#8E8888" stroke-width="2" stroke-linecap="round"/>
              </svg>
              28 февраля 2023
          </p>
        </div>
        <div class="news-read-more">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="8" fill="#F6F5F9"/>
            <g clip-path="url(#clip0_209_10159)">
            <path d="M13.9379 26.0323L26.0597 13.9105M26.0597 13.9105L26.0597 23.3385M26.0597 13.9105L16.6317 13.9105" stroke="#FF7600" stroke-width="1.90476" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_209_10159">
            <rect width="22.8571" height="22.8571" fill="white" transform="translate(8.57129 8.57141)"/>
            </clipPath>
            </defs>
            </svg>

        </div>
      </a>
    </div>
    <div class="btn-block">
      <button class="btn-reset btn-watch-all">
        Смотреть всё
      </button>
    </div>
  </div>
</section>
