<div class="agency">
  <div class="agency-container">
   <div class="agency__title">
    Регистрация агенства
   </div>
   <div class="agency__input-group">
    <div class="agency__input-group">
      <input type="text" id="companyname" name="companyname" placeholder="Наименование юридического лица" class="agency__input-left ">
      <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="36" rx="1" fill="#DFDADA"/>
        </svg>
        <input type="text" id="inn" name="inn" placeholder="ИНН" class="agency__input-right" required>
    </div>
  </form>
   </div>
   <div class="agency__contact-info">
    <form action="#" method="POST">
      <div class="agency__input-group">
        <input type="text" id="name" name="name" placeholder="ФИО менеджера" class="agency__input-left">
        <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="36" rx="1" fill="#DFDADA"/>
          </svg>
        <input type="text" id="text" name="text" placeholder="Адрес" class="agency__input-right" required>
      </div>
    </form>
   </div>
   <div class="agency__contact-info">
    <form action="#" method="POST">
      <div class="agency__input-group">
        <input type="tel" id="phone-number" name="phone-number" placeholder="Телефон" class="agency__input-left">
        <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="36" rx="1" fill="#DFDADA"/>
          </svg>
        <input type="email" id="email" name="email" placeholder="E-mail" class="agency__input-right" required>
      </div>
    </form>
   </div>
   <div class="agency__bottom-content">
   <div class="agency__password">
    <form action="#" method="POST" autocomplete="off">
      <div class="agency__input-group-passwords">
        <input type="password" id="password" name="password" placeholder="Пароль" class="agency__input-left">
        <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="36" rx="1" fill="#DFDADA"/>
          </svg>
          <input type="password" id="password-repeat" name="password-repeat" placeholder="Повторить пароль" class="agency__input-right" required>
      </div>
    </form>
    <div class="agency__bottom-symbols">Не более 9 символов</div>
   </div>
   <div class="agency__footer">
    <div class="checkbox-wrapper-28">
      <input id="tmp-28" type="checkbox" class="promoted-input-checkbox"/>
      <svg><use xlink:href="#checkmark-28" /></svg>
      <label for="tmp-28">
        Согласие на обработку  
      </label>
      <a href="#" class="agency-data">персональных данных</a>
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="checkmark-28" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
          </path>
        </symbol>
      </svg>
    </div>
   </div>
   <div class="agency-buttons">
    <button type="submit" class="entry-button">Сохранить</button>
    <button type="submit" class="reset-password-button">Выйти</button>
    </div>
  </div>
  </div>
</div>

