<div class="individual">
  <div class="individual-container">
   <div class="individual__title">
    Регистрация физического лица
   </div>
   <div class="individual__input-group">
   <input class="individual__name" id="name" name="name" placeholder="Фамилия Имя Отчество"></input>
   </div>
   <div class="individual__contact-info">
    <form action="#" method="POST">
      <div class="individual__input-group">
        <input type="tel" id="phone-number" name="phone-number" placeholder="Телефон" class="individual__phone-number">
        <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="36" rx="1" fill="#DFDADA"/>
          </svg>
        <input type="email" id="email" name="email" placeholder="E-mail" class="individual__email" required>
      </div>
    </form>
   </div>
   <div class="individual__bottom-content">
   <div class="individual__password">
    <form action="#" method="POST" autocomplete="off">
      <div class="individual__input-group-passwords">
        <input type="password" id="password" name="password" placeholder="Пароль" class="individual__password-input">
        <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="2" height="36" rx="1" fill="#DFDADA"/>
          </svg>
          <input type="password" id="password-repeat" name="password-repeat" placeholder="Повторить пароль" class="individual__password-repeat-input" required>
      </div>
    </form>
    <div class="individual__bottom-symbols">Не более 9 символов</div>
   </div>
   <div class="individual__footer">
    <div class="checkbox-wrapper-28">
      <input id="tmp-28" type="checkbox" class="promoted-input-checkbox"/>
      <svg><use xlink:href="#checkmark-28" /></svg>
      <label for="tmp-28">
        Согласие на обработку  
      </label>
      <a href="#" class="individual-data">персональных данных</a>
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="checkmark-28" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-miterlimit="10" fill="none"  d="M22.9 3.7l-15.2 16.6-6.6-7.1">
          </path>
        </symbol>
      </svg>
    </div>
   </div>
   <div class="individual-buttons">
    <button type="submit" class="entry-button">Сохранить</button>
    <button type="submit" class="reset-password-button">Выйти</button>
    </div>
  </div>
  </div>
</div>
