<div class="login">
  <div class="login-container">
<div class="login-container-header">
  <div class="login-title-container">
    <div class="login-title">Вход в систему</div>
  </div>
  <form action="#" method="POST">
    <div class="input-group">
      <input type="text" id="username" name="username" placeholder="Логин" class="username-holder">
      <svg class="svg-icon" width="2" height="36" viewBox="0 0 2 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="36" rx="1" fill="#DFDADA"/>
        </svg>
      <input type="text" id="password" name="password" placeholder="Пароль" class="password-holder" required>
    </div>
  </form>
  <div class="login-buttons">
  <button type="submit" class="entry">Войти</button>
  <button type="submit" class="reset-password">Сбросить пароль</button>
  </div>
</div>
<div class="login-container-footer">
  <div class="login-footer">Нет аккаунта?</div>
  <div class="login-footer-orange">Создать аккаунт</div>
  <div class="login-footer-orange">Зарегистрировать агенство</div>
</div>
</div>
</div>