<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">

<!-- <link rel="icon" href="icon.png"> -->
<meta name="description" content="SportsCase - онлайн тренировки для любителей спорта">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >

<link href="css/style.min.css?ver=5" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="scss/style.scss" type="text/scss">
<link rel="stylesheet" href="/app/scss/style.scss" type="text/scss">
<link rel="stylesheet" href="/app/scss/base/_variables.scss" type="text/scss">
<link rel="stylesheet" href="/app/scss/components/banner.scss" type="text/scss">
<link rel="stylesheet" href="/app/scss/base/normalise.scss" type="text/scss">
<link rel="stylesheet" href="/app/scss/components/best-advices.scss" type="text/scss">
<script src="js/app.min.js?ver=5"></script>














