$banner_text_color: #fff !default;
$banner_hover_color: #ff3d00 !default;
$main_text_color: #000 !default;
$attention_text_color: #ff3d00 !default;

$border_line_color: #ff3d00 !default;

$bg_main: #fff !default;
$bg_form: #ffc3b0 !default;
$bg_footer: #170600 !default;
$footer_hover_color: #8e5f5f !default;
$bg_mega-menu: #170600 !default;
$bg_tariff: #fffaf9 !default;


$button_bg: #ff3d00 !default;
$button_text: #fff !default;

$button_bg_more: #e7e3e3 !default;
$button_bg_more-hover: #d1d1d1 !default;

$tariff_period: #4f4f4f !default;






